tqdm
# platformdirs: undeclared transitive dep of the cytools wheel; pin it before
# `pip install .` so autodoc can import jaxvacua on Read the Docs.
platformdirs
Sphinx
sphinx-book-theme
sphinx-copybutton
sphinx-autodoc-typehints
ipykernel
sphinx_togglebutton
sphinx_design
sphinxcontrib-mermaid
myst-nb
nbsphinx
Pygments
matplotlib
jax
jaxlib
